@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap');

:root{
    --background: linear-gradient(135deg, #5e5d537e 0%, black 100%);
    --color-primary: #efb810 ;
    --color-secundary: #bd8e03 ;
    --boton-padding: 20px 40px ;
}


body{
    font-family: 'Raleway', sans-serif;
}

/* Responsive de tablet*/
@media only screen and (min-width: 320px) and (max-width: 1023px) { 
    
    .hero{
        height: 100vh;
        background-image: var(--background), url("../assets/img/ruthson-zimmerman-hDANeGXvWRw-unsplash.jpg");
        background-size: cover;
        position: relative;
    }
    
    .container{
        width: 95%;
        margin: 0 auto;
        overflow: hidden;
        padding: 40px 0;
    }
    
    .subtitle{
        color: var(--color-primary);
        font-size: 2.5rem;
        display: flex;
        height: 150px;
        margin: -20px 20px 20px 20px;
        margin-bottom: -5px;
        justify-content: center;
        text-align: center;
    }
    .subtitle__dos{
        color: var(--color-primary);
        font-size: 2rem;
        display: flex;
        height: 120px;
        margin: 0 0;
        margin-bottom: -5px;
        justify-content: center;
        text-align: center;
    }
    
    .hero .container {
        padding: 0;
        padding-top: 8px;
    }
    
    .nav{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        height: 70px;
        align-items: center;
        font-weight: 700;
    }
    
    .nav--footer{
        font-weight: 300;
        justify-content: flex-start;
    }
    
    .nav__items{
        color: #fff;
        background: var(--color-secundary);
        border-radius: 5px;
        text-decoration: none;
        text-align: center;
        margin-right: 10px;
        padding: 10px 5px;
        font-weight: inherit;
    }
    
    .nav__items--cta{
        border: 2px solid #fff;
        border-radius: 5px;
    }
    
    .nav__items--footer{
        padding: 10px;
    }
    
    .hero__container{
        display: flex;
        height: calc(100vh - 70px);
        align-items: center;
        color: #fff;
    }
    
    .hero__text{
        width: 80%;
        margin-bottom: 50px;
    }
    
    .hero__title{
        margin-top: -30px;
        font-size: 3.2rem;
        text-align: center;
    }
    
    .hero__subtitle{
        font-size: 1.2rem;
        font-weight: 300;
        margin: 32px 0 0 0;
        color: var(--color-secundary);
        text-align: center;
    }
    
    .hero__wave{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100px;
    }
    
    
    .testimony__grid{
        width: 100%;
    }
    
    .testimony__item{
        width: 95%;
        margin: 0 auto;
        background: rgb(58, 57, 57);
        box-shadow: 0 8px 10px rgba( 66, 66, 66, .5);
        border-radius: 7px;
        padding: 30px 20px;
        color: #fff;
        margin-bottom: 50px;
    }
    
    .testimony__person{
        align-items: center;
        margin-bottom: 20px;
    }
    
    .testimony__img{
        width: 200px;
        height: 200px;
        object-fit: cover;
        border-radius: 50%;
        border: 3px solid var(--color-secundary);
        margin-left: 20px;
    }
    
    .testimony__name{
        font-size: 1.75rem;
        display: flex;
        justify-content: center;
        text-align: center;
        color: var(--color-secundary);
        margin: 13px 0;
    }
    
    .testimony__verification{
        padding: 0;
        display: flex;
        justify-content: center;
        text-align: center;
    }
    
    .testimony__review{
        font-weight: 500;
        color: var(--color-secundary);
        display: flex;
        justify-content: center;
        text-align: center;
    }
    
    
    .about{
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 30px;
        justify-items: center;
        align-items: center;
    }
    
    .about__img{
        text-align: center;
    }
    
    
    .about__picture{
        max-width: 90%;
    }
    
    .about__paragraph{
        margin-bottom: 15px ;
        line-height: 1.5;
        font-weight: 300;
    }
    
    .about__text a{
        
        margin-left: 1rem;
        text-decoration: none;
        font-weight: bold;
        color: rgb(58, 57, 57);
        background-color: var(--color-primary);
        border-radius: 5px;
        padding: 2px 5px;

        transition: .5s ease all;
        animation-name: aparecer;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }
    
    .about__text a:hover{
        background-color: var(--color-secundary);
        border-radius: 5px;
    }
    
    .footer{
        padding: 40px 0 ;
        background-color: rgb(58, 57, 57);
    }
    .footer .social{
        text-align: center;
        padding-bottom: 25px;
        color: var(--color-secundary);
    }
    
    .footer .social a{
        font-size: 24px;
        color: inherit;
        border: 1px solid var(--color-secundary) ;
        width: 40px;
        height: 40px;
        line-height: 38px;
        display: inline-block;
        text-align: center;
        border-radius: 50%;
        margin: 0 8px;
        opacity: 0.75;
    }
    
    .footer .social a:hover {
        opacity: 0.9;
    }
    
    .footer ul{
        color: var(--color-secundary);
        margin: 0;
        padding: 0;
        list-style: none;
        font-size: 18px;
        line-height: 1.6;
        margin-bottom: 0;
        text-align: center;
    }
    .footer ul li a{
        color: inherit;
        text-decoration: none;
        opacity: 0.8;
    }
    .footer ul li{
        display: inline-block;
        padding: 0 15px;
    }
    
    .footer ul li a:hover{
        opacity: 1;
    }
    .footer .copyright{
        margin-top: 15px;
        text-align: center;
        font-size: 13px;
        color: var(--color-secundary);
    }
    

    .subtitle__tres{
        color: var(--color-primary);
        font-size: 2.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-bottom: 2rem;
    }
    
    .product-list{
        margin: 1.5rem;
    }
    
    .product-list .card{
        background-color: var(--color-secundary);
        border-radius: 5px;
        padding: 1em;
        box-shadow: 0px 10px 5px #b2bec3;
        text-align: center;
    }
    
    .card .title{
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 10px;
        color: rgb(58, 57, 57);
    }
    
    .card img {
        max-width: 100%;
        border-radius: 5px;
    }
    
    .card .text{
        text-align: left;
        margin-left: 2em;
        margin-bottom: 0.5em;
        font-size: 14px;
        color: rgb(58, 57, 57);
    }
    
    .buy {
        border: none;
        padding: 1em;
        border-radius: 5px;
        font-weight: bold;
        color: #fff;
        background-color: rgb(58, 57, 57);
        width: 100%;
    
    }
    
    .buy:hover {
        box-shadow: 0px 5px 5px #b2bec3;
        color: var(--color-primary);
    }
    
    .product-container{
        display: grid;
        grid-template-columns: 1fr;
        grid-row-gap: 40px;
    
    }
    
    .align-center{
        text-align: center;
        margin: 30px;
    }
    
    .searcher{
        margin: 20px;
        margin-left: 0px;
    }
    
    .container-contact100 {
        width: 100%;  
        min-height: 100vh;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 15px;
        position: relative;
        background-color: #fff;
    }
    
    .wrap-contact100 {
        width: 550px;
        background: transparent;
        padding: 50px 0px 160px 0px;
        
    }
    
    .contact100-form {
        width: 100%;
    }
    
    .contact100-form-title {
        display: block;
        text-align: center;
        padding-bottom: 49px;
        color: var(--color-primary);
        font-size: 2.5rem;
        margin-bottom: 35px;
        font-weight: 700;
    }
    
    .wrap-input100 {
        width: 100%;
        border-radius: 20px;
        margin-bottom: 20px;
        position: relative;
        z-index: 1;
    }
    
    .input100 {
        position: relative;
        display: block;
        width: 100%;
        background: rgb(58, 57, 57);
        border-radius: 20px;
        font-family: 'Raleway' ;
        font-size: 18px;
        color: var(--color-secundary);
        line-height: 1.2;
    }
    
    .focus-input100 {
        display: block;
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100%;
        top: 0;
        left: 50%;
        border-radius: 31px;
        pointer-events: none;
    }
    
    .container-contact100-form-btn {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-top: 10px;
    }
    
    .contact100-form-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 20px;
        min-width: 150px;
        height: 62px;
        background-color: transparent;
        border-radius: 31px;
        font-size: 16px;
        background-color: var(--color-secundary);
        position: relative;
        z-index: 1;
    }
} 


/* Responsive de desktop*/

@media only screen and (min-width: 1024px ){ 
    .container{
        width: 90%;
        margin: 0 auto;
        overflow: hidden;
        padding: 80px 0;
        max-width: 1200px;
    }
    
    .subtitle{
        color: var(--color-primary);
        font-size: 2.5rem;
        margin-bottom: 35px;
        padding-left: 0.7rem
    }

    .hero{
        height: 100vh;
        background-image: var(--background), url("../assets/img/ruthson-zimmerman-hDANeGXvWRw-unsplash.jpg");
        background-repeat: no-repeat ;
        background-size: cover;
        background-attachment: fixed;
        background-position: center ;
        position: relative;
    }
    
    .hero .container {
        padding: 0;
    }
    
    .nav{
        display: flex;
        justify-content: flex-end;
        height: 70px;
        align-items: center;
        font-weight: 700;
    }
    
    .nav--footer{
        font-weight: 300;
        justify-content: flex-start;
    }
    
    .nav__items{
        color: #fff;
        text-decoration: none;
        margin-right: 10px;
        padding: 10px 5px;
        font-weight: inherit;
        transition: .3s;
        position: relative;
        overflow: hidden;
    }

    .nav__items--inicio{
        color: #fff;
        text-decoration: none;
        margin-right: 10px;
        padding: 10px 5px;
        font-weight: inherit;
        transition: .3s;
        position: relative;
        overflow: hidden;
    }

    .nav__items:hover{
        background: var(--color-secundary);
        border-radius: 5px;
        box-shadow: 0 0 10px var(--color-secundary), 0 0 20px var(--color-secundary), 0 0 30px var(--color-secundary);
        transition-delay: 1s;
    }
    .nav__items span{
        position: absolute;
        display: block;
    }

    #span1{
        top: 0;
        left: -100%;
        width: 100%;
        height: 2px;
        background: linear-gradient(90deg,transparent, var(--color-secundary) ) ;
    }
    .nav__items:hover #span1{
        left: 100%;
        transition: 1s;
    }
    #span3{
        bottom: 0;
        right: -100%;
        width: 100%;
        height: 2px;
        background: linear-gradient(270deg,transparent, var(--color-secundary) ) ;
    }
    .nav__items:hover #span3{
        right: 100%;
        transition: 1s;
        transition-delay: 0.5s;
    }
    #span2{
        top: -100%;
        right: 0;
        width: 2px;
        height: 100%;
        background: linear-gradient(180deg,transparent, var(--color-secundary) ) ;
    }
    .nav__items:hover #span2{
        top: 100%;
        transition: 1s;
        transition-delay: 0.25s;
    }
    #span4{
        bottom: -100%;
        left: 0;
        width: 2px;
        height: 100%;
        background: linear-gradient(360deg,transparent, var(--color-secundary) ) ;
    }
    .nav__items:hover #span4{
        bottom: 100%;
        transition: 1s;
        transition-delay: 0.75s;
    }

    .nav__items--cta{
        border: 2px solid #fff;
        border-radius: 5px;
    }
    .nav__items--inicio:hover{
        background: var(--color-secundary);
        border-radius: 5px;
        box-shadow: 0 0 10px var(--color-secundary), 0 0 20px var(--color-secundary), 0 0 30px var(--color-secundary);
        transition: .3s;
    }
    .nav__items--footer{
        padding: 10px;
    }

    .hero__container{
        display: flex;
        height: calc(100vh - 70px);
        align-items: center;
        color: #fff;
    }
    
    .hero__text{
        width: 80%;
        margin-bottom: 50px;
    }
    
    .hero__title{
        font-size: 3.2rem;
    }
    
    .hero__subtitle{
        font-size: 2rem;
        font-weight: 300;
        margin: 15px 0;
        color: var(--color-secundary);
    }
    
    .hero__wave{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100px;
    }

    
    .testimony__grid{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }
    
    .testimony__item{
        width: 100%;
        margin: 0 auto;
        background: rgb(58, 57, 57);
        box-shadow: 0 8px 10px rgba( 66, 66, 66, .5);
        border-radius: 7px;
        padding: 30px 25px;
        color: #fff;
        margin-bottom: 50px;
    }
    
    .testimony__person{
        display: flex;
        align-items: center;
        margin-bottom: 20px;
    }
    
    .testimony__img{
        width: 100%;
        width: 200px;
        height: 200px;
        object-fit: cover;
        object-position: top;
        border-radius: 50%;
        border: 3px solid var(--color-secundary);
        margin-right: 30px;
    }
    
    .testimony__name{
        font-size: 1.6rem;
        margin-bottom: 20px;
        text-align: center;
        color: var(--color-secundary);
    }
    
    .testimony__verification{
        padding: 0;
        display: flex;
        justify-content:center;
        
    }
    
    .testimony__review{
        font-weight: 500;
        color: var(--color-secundary);
        
    }
    
    
    .about{
        min-height: 400px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 80px;
        justify-items: center;
        align-items: center;
    }
    
    .about__img{
        text-align: center;
    }
    
    .about__img--left{
        text-align: center;
    }
    
    .about__picture{
        max-width: 80%;
    }
    
    .about__paragraph{
        margin-bottom: 20px ;
        line-height: 1.5;
        font-weight: 300;
    }
    
    .about__text a{
        
        margin-left: 1rem;
        text-decoration: none;
        font-weight: bold;
        color: rgb(58, 57, 57);
        background-color: var(--color-primary);
        border-radius: 5px;
        padding: 2px 5px;

        transition: .5s ease all;
        animation-name: aparecer;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }
    
    .about__text a:hover{
        background-color: var(--color-secundary);
        border-radius: 5px;
    }
    
    
    .footer{
        padding: 40px 0 ;
        background-color: rgb(58, 57, 57);
    }
    .footer .social{
        text-align: center;
        padding-bottom: 25px;
        color: var(--color-secundary);
    }
    
    .footer .social a{
        font-size: 24px;
        color: inherit;
        border: 1px solid var(--color-secundary) ;
        width: 40px;
        height: 40px;
        line-height: 38px;
        display: inline-block;
        text-align: center;
        border-radius: 50%;
        margin: 0 8px;
        opacity: 0.75;
    }
    
    .footer .social a:hover {
        opacity: 0.9;
    }
    
    .footer ul{
        color: var(--color-secundary);
        margin: 0;
        padding: 0;
        list-style: none;
        font-size: 18px;
        line-height: 1.6;
        margin-bottom: 0;
        text-align: center;
    }
    .footer ul li a{
        color: inherit;
        text-decoration: none;
        opacity: 0.8;
    }
    .footer ul li{
        display: inline-block;
        padding: 0 15px;
    }
    
    .footer ul li a:hover{
        opacity: 1;
    }
    .footer .copyright{
        margin-top: 15px;
        text-align: center;
        font-size: 13px;
        color: var(--color-secundary);
    }
    
    .subtitle__tres{
        color: var(--color-primary);
        font-size: 2.5rem;
        display: flex;
        align-items: center;
        text-align: center;
        margin-bottom: 2rem;
    }

    .product-list{
        margin: 40px;
    }
    
    .product-list .card{
        background-color: var(--color-secundary);
        border-radius: 5px;
        padding: 1em;
        box-shadow: 0px 10px 5px #b2bec3;
        text-align: center;
    }
    
    .card .title{
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 10px;
        color: rgb(58, 57, 57);
    }
    
    .card img {
        max-width: 100%;
        border-radius: 5px;
    }
    
    .card .text{
        text-align: left;
        margin-left: 2em;
        margin-bottom: 0.5em;
        font-size: 14px;
        color: rgb(58, 57, 57);
    }
    
    .buy {
        border: none;
        padding: 1em;
        border-radius: 5px;
        font-weight: bold;
        color: #fff;
        background-color: rgb(58, 57, 57);
        width: 100%;
    
    }
    
    .buy:hover {
        box-shadow: 0px 5px 5px #b2bec3;
        color: var(--color-primary);
    }
    
    .product-container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 20px ;
        grid-row-gap: 40px;
    
    }
    
    .align-center{
        text-align: center;
        margin: 30px;
    }
    
    .searcher{
        margin: 20px;
        margin-left: 0px;
    }
    
    
    
    .container-contact100 {
        width: 100%;  
        min-height: 100vh;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 15px;
        position: relative;
        background-color: #fff;
    }
    
    .wrap-contact100 {
        width: 550px;
        background: transparent;
        padding: 50px 0px 160px 0px;
        
    }
    
    .contact100-form {
        width: 100%;
    }
    
    .contact100-form-title {
        display: block;
        font-family: 'Raleway' , sans-serif;
        text-align: center;
        padding-bottom: 49px;
        color: var(--color-primary);
        font-size: 3rem;
        margin-bottom: 35px;
    }
    
    .wrap-input100 {
        width: 100%;
        border-radius: 20px;
        margin-bottom: 20px;
        position: relative;
        z-index: 1;
    }
    
    .input100 {
        position: relative;
        display: block;
        width: 100%;
        background: rgb(58, 57, 57);
        border-radius: 20px;
        font-family: 'Raleway' ;
        font-size: 18px;
        color: var(--color-secundary);
        line-height: 1.2;
    }
    
    .focus-input100 {
        display: block;
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100%;
        top: 0;
        left: 50%;
        border-radius: 31px;
        pointer-events: none;
    }
    
    .container-contact100-form-btn {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-top: 10px;
    }
    
    .contact100-form-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 20px;
        min-width: 150px;
        height: 62px;
        background-color: transparent;
        border-radius: 31px;
        font-size: 16px;
        background-color: var(--color-secundary);
        position: relative;
        z-index: 1;
    } 
}

@keyframes aparecer {
    0% {opacity: 0.5;}
    100% {opacity: 1;}
}